*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
  font-size: 16px;
  font-family: "Helvetica", "Arial", sans-serif;
  text-align: center;
  background-color: #f8faff;
}

.bubbly-button {
    width: 220px;
  font-family: "Helvetica", "Arial", sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ff0081;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}
.bubbly-button:focus {
  outline: 0;
}
.bubbly-button:before, .bubbly-button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
  transform: scale(0.9);
  background-color: #e60074;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
.downloader{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
        background: rgb(48, 252, 102);
}

.main{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0.1px 4px 8px 2px rgba(0, 0, 0, 0.05);
}

.main form{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
}

.main form input:first-child{
    width: 80%;
    height: 100%;
    padding: 10px;
    border: none;
    outline: none;
    margin-right: 4px;
    border-radius: 5px;
    font-size: 1em;
    box-shadow: 0.1px 2px 8px 4px rgba(0, 0, 0, 0.05);
}

.main form input:last-child{
    width: 20%;
    height: 100%;
    padding: 10px;
    margin-left: 4px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #7D3C98;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0.1px 2px 8px 4px rgba(0, 0, 0, 0.05);
}

.video_detail_box{
    width: 100%;
    margin-top: 1em;
}

.video_detail_box .thumbnail_box{
    position: relative;
}

.thumbnail_box #img_download_btn{
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #fff;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #7D3C98;
}

.thumbnail_box #original_video_link_btn{
    position: absolute;
    right: 55px;
    bottom: 10px;
    color: #fff;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #EC407A;
}

.thumbnail_box img{
    height: auto;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.text_info{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.text_info table{
    border: 1px dashed #ccc;
    margin-top: 10px;
}

.text_info table th{
    padding: 10px;
}
.text_info table td{
   text-align: center;
   padding: 10px;
}

.additional_info{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.additional_info a{
    padding: 5px 10px 5px 10px;
    color: #fff;
    font-size: 13px;
    border-radius: 5px;
    text-decoration: none;
    background: #7D3C98;
}

.additional_info p{
    padding: 5px 10px 5px 10px;
    color: #000;
    font-size: 13px;
    border-radius: 5px;
    margin-left: 5px;
    box-shadow: 0.1px 2px 8px 4px rgba(0, 0, 0, 0.05);
}

#download_btn{
    color: #fff;
    text-decoration: none;
    background: #7D3C98;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    font-size: 15px;
    display: inline-block;
}

.instruction_box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2em;
}

.instruction_box h3{
    margin-top: 10px;
}
.instruction_box p{
    font-size: 14px;
    margin-top: 5px;
}

.instruction_box label{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #7D3C98;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instruction_box label i{
    color: #fff;
    font-size: 1.2em;
}


@media (max-width: 800px) {
    .main{
        width: 70%;
    }
}

@media (max-width: 500px) {
    .main{
        width: 80%;
    }
}