/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    background-color: #f2f2f2;
    color: #000;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Container for content and header styles */
.container, header {
    max-width: 95%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

/* Header title styles */
header h1 {
    font-size: 24px;
    font-weight: bold;
    border: 2px solid #ddd;
    padding: 10px;
	margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #f9f9f9;
}


/* Input field styles */
.myinput {
    width: 90%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Fancy text block styles */
.fancy-text {
    margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333; /* Text color for fancy text blocks */
}
